<div style="margin: 1rem 0; text-align:center;">
    <p><strong>{{title}}</strong></p>
    <div id="qrcode-{{id}}" style="display:inline-block;"></div>
    <script nonce="{{@csp_nonce}}" src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script nonce="{{@csp_nonce}}">
        new QRCode(document.getElementById("qrcode-{{id}}"), {
            text: "{{url}}",
            width: {{default width 180}},
            height: {{default height 180}},
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
        });
    </script>
</div>
